body {
  background-color: #FCFCFC;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  max-width: 1200px;
  
}

.justify-content-md-center {
  padding-top: 2em;
}

.col1{
  
  height: 233px;
}

.col3{
  
  height: 233px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #EEEEEE;
  color: grey;
  text-align: center;
  opacity: 50%;
}

.tiedotheader {
  position: absolute;
  z-index: 1;
 height: 30px;
  align-content: space-between;
}

col-sm {
  margin-bottom: 0rem;  
}

h4 {
  margin-top: 1em;
  margin-left: 25em;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 0.8em;
}

img {
  margin-top: 1.5em;
  margin-left: 40em;
  zoom: 1.2;
}

body {
  font-size: 0.8em;
}

#listaKunnista {
  max-width: 216px;
}

.jumbotron {
  padding: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
 }

 .btn-group {
   float: right;
   zoom: 0.8;
 }

 .small, small {
   font-size: 95%;
 }

 #search {
  width:100%;
  height:100%;
  margin-top: 1.4em;
 }

 .list-group-item {
  position: unset;
 }

.btn-group-sm {
  margin-top: -0.7em;

}
 










