.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  
  font-size: 1.5em;
}

.justify-content-md-center {
  padding: 2em;
}

.col1{
  
  height: 233px;
}

.col3{
  
  height: 233px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #EEEEEE;
  color: grey;
  text-align: center;
  opacity: 50%;
}

.tiedotheader {
  text-align: center;
}

.col-sm {
  margin-bottom: 0rem;
}








