@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  background-color: rgb(248, 248, 248);
  
}

a1 {
  
  font-size: 4em;
  margin-bottom: 3em;
  font-family: 'Bebas Neue', cursive;
}

a2 {
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
}

div.otsikko {
   margin: 0 0 24px; text-align: justify; text-justify: inter-word;
   text-align: center;
   margin-left: 15em;
  margin-right: 15em; 
  margin-top: 3em; 
}

div.leipa {
  margin: 0 0 24px; text-align: justify; text-justify: inter-word;
  text-align: left;
  margin-left: 15em;
 margin-right: 15em; 
 margin-top: 3em; 
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.justify-content-md-center {
padding-bottom: 1.5em;
padding-bottom: 1.5em;
}

.App-link {
  color: #09d3ac;
}

.container {
  max-width: 1200px;
  
}

.justify-content-md-center {
  padding-top: 2em;
}

.col1{
  
  height: 233px;
}

.col3{
  
  height: 233px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #EEEEEE;
  color: grey;
  text-align: center;
  opacity: 50%;
}

.tiedotheader {
  
  align-items: center;
  justify-content: center
 
}

col-sm {
  margin-bottom: 0rem;  
}

h4 {
  margin-top: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 2em;
  text-align: left;
}

img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 1.2;
}

body {
  font-size: 0.8em;
}

#listaKunnista {
  max-width: 216px;
}

.jumbotron {
  padding: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
 }

 .btn-group {
   
  zoom: 0.7;  
  margin-top: -0.7em;
  display: flow-root;
    
  
 }




 

 

.vuosilukunappi {
  margin-left: 8px;
  
}

.lkm {
  
  border-top-left-radius: 5px !important; 
  border-bottom-left-radius: 5px !important;

}

.pikkunapit {
  margin-bottom: 7px;
  width: auto;
}

 .small, small {
   font-size: 100%;
 }

 #search {
  width:100%;
  height:100%;
  
 }

 .list-group-item {
  position: unset;
  
 }

 




.btn-primary:focus {
  filter: brightness(85%);
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.oikeala {
  
  height: 347px;
  overflow: auto;
  
}

.oikeala2 {
  
  height: 370px;
  overflow: auto;
  margin-bottom: -1.5em;
  
}

button:focus{
  filter: brightness(85%);
  
}


.btn:focus, .btn:active, .btn:active:focus, .btn-success:active:focus {
  box-shadow: none !important;
  background-color: #2EE59D !important;
}

.varjo {
  z-index: 5;
  position: relative;
  -webkit-box-shadow: inset 0px -42px 34px 2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -42px 34px 2px rgba(0,0,0,0.75);
box-shadow: inset 0px -42px 34px 2px rgba(0,0,0,0.75);
}

.btn {
  width: 270px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(224, 224, 224);
}

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  border: 0px solid rgb(211, 209, 209);
}

.btn:active {
  background-color: #2EE59D;
}

.pikku {
  width: 15em;
  height: 4.5em;
  border-radius: 15px;
  
}

.pikku2 {
  width: 15em;
  height: 3em;
  border-radius: 0px;
  margin-bottom: 0.5em;
}

.suhde {
  line-height: 120%;
  border-radius: 0px;
  border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
 


}

.infonappi {
    

  width: 13em;
  height: 6em;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.6em;
    
    
 }

 
 .paastot {
  
  border-top-right-radius: 15px !important; 
  border-bottom-right-radius: 15px !important;

}

.dropdown-menu{
    transform: translate3d(5px, 75px, 0px)!important;
}

.row {
  
}



 